@media(min-width: 1px){
    .loginTitle{
        font-size: 25px;
    }

    .loginTitleContainer .closedLogin{
        display: flex;
    }

    .separator{
        gap: 11px;
    }

    .separator .line{
        width: 33%;
    }
}



@media(min-width: 768px){
    .loginTitleContainer .closedLogin{
        display: none;
    }
}


@media(min-width: 1024px){
    .loginTitle{
        font-size: 25px;
    }

    .separator{
        gap: 10px;
    }

    .separator .line{
        width: 34%;
    }


}

@media(min-width: 1100px){

    .separator{
        gap: 8px;
    }


}


@media(min-width: 1115px){

    .separator{
        gap: 8px;
    }

    .separator .line{
        width: 36%;
    }
}

@media(min-width: 1300px){

    .separator .line{
        width: 38%;
    }


}

@media(min-width: 1440px){

    .cardLogin{
        width: 37%;
    }

    .separator{
        gap: 12px;
    }

    .separator .line{
        width: 36%;
    }

}

@media(min-width: 2560px){

    .separator{
        gap: 21px;
    }

    .separator .line{
        width: 40%;
    }

}